baseweb==0.1.4
eventlet==0.33.2
gunicorn @ https://github.com/benoitc/gunicorn/archive/ff58e0c6da83d5520916bc4cc109a529258d76e1.zip
oatk
dnspython<2.0.0 # pinned due to https://github.com/eventlet/eventlet/issues/619
